* {
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

body {
  display: block;
}

.main-content1 {
  height: 200px;
  background-image:url(img2/box1.jpg);
  background-size: cover;
}

.main-content2 {
  height: 200px;
  background-image:url(img2/box2.jpg);
  background-size: cover;
}

.main-content3 {
  height: 200px;
  background-image:url(img2/box3.jpg);
  background-size: cover;
}
.main-content4 {
  height: 200px;
  background-image:url(img2/box4.jpg);
  background-size: cover;
}